* {
    margin: 0;
    padding: 0;
}

[v-cloak] {
  display: none;
}

#app {
    height: 100vh;
    background-color: chartreuse;
}

.header {
    position: relative;
    width: 100vw;
    height: 15vh;
    background-color: crimson;
    transition: height 0.5s,
                border-radius 0.5s;
}

.header_open {
    height: 30vh;
    border-radius: 0 0 40% 40%;
}

.burger_button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.burger_button_stick {
    width: 30px;
    height: 4px;
    background-color: chartreuse;
    transition: transform 0.5s,
                opacity 0.5s;
    transform-origin: 1px;
}

.burger_button_clicked {

}

.burger_button_clicked > :nth-child(1) {
    transform: rotate(45deg)
                translateX(5px)
                translateY(-5px);
}

.burger_button_clicked > :nth-child(2) {
    transform: translateX(-30px);
    opacity: 0;
}

.burger_button_clicked > :nth-child(3) {
    transform: rotate(-45deg)
                translateX(5px)
                translateY(5px);
}

.header_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    background-color: azure;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s;
}

.header_circle_showed {
    opacity: 1;
}

.header_menu_buttons {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 20px 20px;
    outline: none;
    transition: top 0.5s,
                right 0.5s,
                bottom 0.5s,
                left 0.5s,
                margin 0.5s,
                opacity 0.5s;
}

.header_menu_button1_showed {
    top: 5vh;
    left: 10vw;
}

.header_menu_button1_hide {
    opacity: 0;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
}

.header_menu_button2_showed {
    top: 5vh;
    right: 10vw;
}

.header_menu_button2_hide {
    opacity: 0;
    top: 50%;
    margin-top: -25px;
    right: 50%;
    margin-right: -25px;
}

.header_menu_button3_showed {
    left: 10vw;
    bottom: 5vh;
}

.header_menu_button3_hide {
    opacity: 0;
    left: 50%;
    margin-left: -25px;
    bottom: 50%;
    margin-bottom: -25px;
}

.header_menu_button4_showed {
    right: 10vw;
    bottom: 5vh;
}

.header_menu_button4_hide {
    opacity: 0;
    right: 50%;
    margin-right: -25px;
    bottom: 50%;
    margin-bottom: -25px;
}

.user_name {
    transition: text-align 0.5s,
                margin 0.5s,
                transform 0.5s;
}

.menu_user_name {
    /*text-align: center;*/
    /*margin-top: 20vh;*/
    transform: translateX(43vw)
                translateY(25vh);
}

.task_input_div {
    position: relative;
    width: 90vw;
    height: 50px;
    margin: 10px auto;
    text-align: center;
}

.task_input_field {
    width: 60vw;
    height: 30px;
    outline: none;
}

.task_input_button {
    width: 50px;
    height: 50px;
    border-radius: 20px 20px;
    outline: none;
}

.task_list {
    width: 90vw;
    margin: 0 auto;
}

.task {
    min-height: 50px;
    margin-bottom: 5px;
    border: solid 1px;
    text-align: center;
}